<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta content="text/templates;charset=UTF-8"/>
    <title></title>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<h1>spring-consumer</h1>
</body>
<script>
    alert("oooooooooooo");
    $.ajax({
        type: "GET",
        url: "http://localhost:8081/getData",
        dataType: "json",
        success: function(data){
            var code = data.code;
            var msg = data.message;
            alert("code="+code+"  messag="+msg);
        },
        error: function () {
            alert("fail");
        }
    });
</script>
</html>