<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.cszt.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.cszt.mapper.dtd">
<com.cszt.mapper namespace="com.cszt.com.cszt.mapper.ScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.szzt.smart.NewTest.entity.Score">
        <id column="sid" property="sid" />
        <result column="id" property="id" />
        <result column="score" property="score" />
        <result column="project" property="project" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid, id, score, project
    </sql>

</com.cszt.mapper>
