<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czzt.smart.NewTest.mapper.MergnMapper">
    <select id="getMergn">
        SELECT
        s.SID,s.NAME,
        c.SCORE,
        c.PROJECT,
        c.SID,
        c.SCOREID
        FROM student s
        LEFT JOIN SCORE c ON s.SID = c.SID
    </select>
    <resultMap id="result" type="Mergn">
        <id column="sid" property="sid"/>
        <result column="name" property="name"/>
        <!--<association property="score" column="sid" resultMap="Score">-->
            <!--<id column="scoreId" property="scoreId"/>-->
            <!--<result column="project" property="project"/>-->
            <!--<result column="score" property="score"/>-->
            <!--<result column="sid" property="sid"/>-->
        <!--</association>-->
  </resultMap>
</mapper>